<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <!--商品的图片(视频里说存在products/image里)-->
        <%#= link_to image_tag(product.main_product_image.image.url(:middle), alt: product.title), product_path(product) %>
        <div class="caption">
          <h4><%= link_to product.title, product_path(product), class: 'title' %></h4>
          <p><strong>¥<%= product.price %></strong> <span class="msrp">¥<%= product.msrp %></span></p>
          <p><%= show_add_to_cart product, html_class: "btn-xs" %></p>
          <!--下面这行还没实现，只是个空链接-->
<!--<p><a href="#" class="btn btn-danger btn-sm" role="button">加入购物车</a></p>-->
        </div>
      </div>
    </div>
  <% end -%>
</div>

<%= will_paginate @products %>