<!--将内容对齐到右侧-->
<div class="pull-right">
<!--针对按钮定义了一个html的class-->
<!--所有的增删改查功能都是在一个页面完成的，异步，对每一个操作都给了一个class，后续在js文件中针对这些节点绑定js操作的事件-->
  <%= link_to "添加收货地址", new_address_path, class: "btn btn-info btn-xs new-address-btn" %>
</div>
<!--清除浮动-->
<div class="clearfix"></div>
<!--换行-->
<br />
<!--无序列表-->
<ul class="list-group">
  <% unless @addresses.blank? %>
    <% @addresses.each_with_index do |address, index| %>
      <li class="list-group-item">
        <label>
          <input type="radio" name="address_id" value="<%= address.id %>" <%= 'checked' if current_user.default_address == address %> />
          <%= address.contact_name %>
          <%= address.address %>
          <%= address.cellphone %>

<!--          rails的remote: true，在js中通过绑定ajax对应事件处理链接操作-->
          <%= link_to "编辑", edit_address_path(address), remote: true, class: "inline edit-address-btn" %>
          <%= link_to "删除", address_path(address), remote: true, method: 'delete', "data-confirm": "确认删除该地址吗？", class: "remove-address-btn inline" %>
          <% if current_user.default_address == address %>
<!--            如果是默认地址，则显示出来-->
            <span class="default_address">默认地址</span>
          <% else %>
            <%= link_to "设为默认收货地址", set_default_address_address_path(address), remote: true, method: 'put', class: "set-default-address-btn inline" %>
          <% end %>
        </label>
      </li>
    <% end %>
  <% else %>
    <li class="list-group-item">
      请添加送货地址
    </li>
  <% end %>
</ul>